footer .contenedor{
    flex-direction: column;
    margin: 20px;
}

.contenedor-contacto{
    display: flex;
    flex-direction: row;
    text-align: center;

    align-items: center;
    margin: 25px 20px;
}

.contenedor-contacto i{
    font-size: 3em;
    margin: .5em;
}


.circulo{
    width: 6em;
    height: 6em;
    border: 1.5px solid white;
    border-radius: 50%;
    margin: 0 10px;
}

.circulo:hover{
    cursor: pointer;
}