footer .contenedor{
    flex-direction: column;
    margin: 20px;
}

.contenedor-contacto{
    display: flex;
    flex-direction: row;
    text-align: center;

    align-items: center;
    margin: 25px 20px;
}

.contenedor-contacto i{
    font-size: 3em;
    margin: .5em;
}


.circulo{
    width: 6em;
    height: 6em;
    margin: 0 10px;
    border-radius: 1.5em;
    border: 1.5px solid white;
    cursor: pointer;
}

.animacion-girar{
    animation: girar 3s forwards;
    animation-delay: .5s;
    transition: transform 1s linear;
}

@keyframes girar{
    100%{
        transform: rotateZ(360deg);
        border-radius: 50%;
        border: 1.5px solid transparent;
        background-color: rgba(255, 255, 255, 0.2);
    }
}