#presentacion .contenedor{
    flex-direction: column;
    padding: 25vh 20px 31.5vh 20px;
    margin: 20px;
}

.foto{
    display: none;
}

.contenedor-img{
    display: none;
    width: 70vw;
    height: 30vh;
}

.saludo{
    text-align: left;
}

#presentacion h1{
    cursor: default;
    letter-spacing: .5px;
    font-weight: 10;
    font-family: 'Anton', sans-serif;
    padding: 5px;
    line-height: 50px;
}


