#presentacion .contenedor{
    flex-direction: column;

    padding: 34vh 20px 41vh 20px;
}

.foto{
    display: none;
}

#presentacion h1{
    letter-spacing: .8px;
}

#presentacion h3{
    letter-spacing: .8px;
}

#presentacion h4{
    letter-spacing: 1.8px;
}
