#sobremi .contenedor{
    flex-direction: column;
    margin: 20px;
}

#sobremi .contenedor-sobremi{
    margin: 20px 20px;
}


/*Habilidades*/

#sobremi p{
    margin: 20px 0;
}

/*Teccnologias*/

#sobremi i{
    font-size: 5.5em;
    margin: 20px 20px;
    transition: transform .3s linear;
    
}

#sobremi i:hover{
    transform: translateX(0) scale(1.15);
}

/*Java*/



#sobremi .contendor-lenguaje{
    display: flex;
    flex-direction: column;

    text-align: left;

    padding: 10px;
    margin: 40px 0 20px 0;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1.5em;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .2);

}

.contendor-lenguaje p{
    padding: 10px;
    font-size: 1.6em;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: -.5px;
}



.etiquetas{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}

.kws {
    color: #893bf6;
}

.simbolos{
    color: #3481fd;
}

.valor{
    color: #FB5607;
}

















#herramientas{
    display: flex;
    flex-direction: row;
}

/*Tecnologias*/
#sobremi .tecnologias{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
}



