#sobremi .contenedor{
    flex-direction: column;
    margin: 20px;
}

#sobremi .contenedor-sobremi{
    margin: 25px 20px;
}



#sobremi p{
    margin: 20px 0;
}

.otros i:hover{
    transform: translateX(0) scale(1.15);
}


#sobremi .contendor-lenguaje{
    display: flex;
    flex-direction: column;

    text-align: left;

    padding: 20px;
}

.contendor-lenguaje h4{
    margin-left: .5em;
}

.nivel{
    margin: 1em 0;
    width: 25em;
    border-radius: 2em;
    border: 1.5px solid white;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .1);

}

.nivel div{
    width: 0;
    height: 1.5em;
    border-radius: 1em;
    background-color: rgba(66, 212, 79, .6);
}

#javaNiv{
    animation: java-barra 15s forwards;
}

@keyframes java-barra {
    100% {
        width: 85%;
    }
}

#springNiv{
    animation: spring-barra 15s forwards;
}

@keyframes spring-barra {
    100% {
        width: 65%;
    }
}

#hibernateNiv{
    animation: hibernate-barra 15s forwards;
}

@keyframes hibernate-barra {
    100% {
        width: 65%;
    }
}

#mysqlNiv{
    animation: myqsl-barra 15s forwards;
}

@keyframes myqsl-barra {
    100% {
        width: 75%;
    }
}

#htmlNiv{
    animation: html-barra 15s forwards;
}

@keyframes html-barra {
    100% {
        width: 85%;
    }
}

#cssNiv{
    animation: css-barra 15s forwards;
}

@keyframes css-barra {
    100% {
        width: 70%;
    }
}

#jsNiv{
    animation: js-barra 15s forwards;
}

@keyframes js-barra {
    100% {
        width: 50%;
    }
}





#herramientas{
    display: flex;
    flex-direction: row;
}

.tecnologias{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    margin-top: 10px;
}



.otros{
    display: flex;
    
}

.otros i{
    font-size: 5.5em;
    margin: 20px 20px;
    transition: transform .3s linear;
}



.contenedor-proyectos{
    display: flex;
    flex-direction: column;
    margin: 10px;
}


.tarjeta{
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1.5em;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .2);
    overflow: hidden;
    transition: opacity 1.5s linear, transform .3s linear;
}

.tarjeta:hover{
    transform: translateX(0) scale(1.05);
}

.oculta{
    opacity: 0;
}

.activa{
    opacity: 1;
}

.img-proyecto{
    height: 20em;
    background-position: center center;
    background-size: cover;
}

#proyecto1{
    background-image: url(/recursos/img-ruleta.png);
}

#proyecto2{
    background-image: url(https://raw.githubusercontent.com/JuanGarDev/portafolioDev/master/recursos/fondoTxt.jpg);
}

#info{
    font-size: 3em;
    margin: 0 auto;
}

.contenido-proyecto{
    margin: 20px 25px;
}

.tecnologias-proyecto{
    text-align: center;
    margin-top: 20px;
}

.tecnologias-proyecto i{
    
    font-size: 3em;
    margin: 0 10px;
}

.texto-info{
    max-width: 230px;
    text-align: left;
}

.txt-oculto{
    display: none;
}

.txt-activo{
    display: flex;
}


.division div{
    width: 20em;
    height: 1px;
    border-top: 2px solid white;
    margin: 20px auto 10px auto;
}

#i-info{
    font-size: 4em;
    margin: 20px 0 0 0;
}

#i-info:hover{
    cursor: pointer;
}

.i-abajo{
    animation: bajar 2s infinite;
}

.i-arriba{
    animation: subir 2s infinite;
}

@keyframes bajar{
    0%{
        transform: translateY(-25%);
    }
    100%{
        transform: translateY(15%);
    }
}

@keyframes subir{
    0%{
        transform: translateY(25%);
    }
    100%{
        transform: translateY(-15%);
    }
}